<div class="form-wrapper">
  <h1><%= @trader.new_record? ? "Create New Trader" : "Edit Trader" %></h1>

  <%= form_with model: @trader, url: @trader.new_record? ? admin_traders_path : admin_trader_path(@trader), local: true, class: "styled-form" do |form| %>
    
    <% if @trader.errors.any? %>
      <div class="error-box">
        <h4><%= pluralize(@trader.errors.count, "error") %> prevented this trader from being saved:</h4>
        <ul>
          <% @trader.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :email %>
      <%= form.email_field :email, required: true %>
    </div>

    <div class="form-group">
      <%= form.label :password %>
      <%= form.password_field :password, required: true %>
    </div>

    <div class="form-group">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, required: true %>
    </div>

    <div class="button-group">
      <%= form.submit @trader.new_record? ? "Create Trader" : "Update Trader", class: "submit-btn" %>
      <%= link_to "â† Back to All Traders", admin_traders_path, class: "cancel-btn" %>
    </div>

  <% end %>
</div>
